
.icon-star:before { content: '\e800'; } /* '' */
.icon-star-filled:before { content: '\e801'; } /* '' */
.icon-user-add-outline:before { content: '\e802'; } /* '' */
.icon-user-delete-outline:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-logout:before { content: '\e805'; } /* '' */
.icon-arrows-cw:before { content: '\e806'; } /* '' */
.icon-arrows-cw-1:before { content: '\e807'; } /* '' */
.icon-camera:before { content: '\e808'; } /* '' */
.icon-dot-3:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-plus:before { content: '\e80b'; } /* '' */
.icon-cancel-circled:before { content: '\e80c'; } /* '' */
.icon-plus-circled:before { content: '\e80d'; } /* '' */
.icon-picture:before { content: '\e80e'; } /* '' */
.icon-edit:before { content: '\e80f'; } /* '' */
.icon-pencil:before { content: '\e810'; } /* '' */
.icon-tag:before { content: '\e811'; } /* '' */
.icon-tags:before { content: '\e812'; } /* '' */
.icon-bookmark:before { content: '\e813'; } /* '' */
.icon-bookmark-empty:before { content: '\e814'; } /* '' */
.icon-pencil-1:before { content: '\e815'; } /* '' */
.icon-ok:before { content: '\e816'; } /* '' */
.icon-cancel-1:before { content: '\e817'; } /* '' */
.icon-plus-1:before { content: '\e818'; } /* '' */
.icon-minus:before { content: '\e819'; } /* '' */
.icon-cog-outline:before { content: '\e81a'; } /* '' */
.icon-reply-outline:before { content: '\e81b'; } /* '' */
.icon-tags-1:before { content: '\e81c'; } /* '' */
.icon-reply:before { content: '\e81d'; } /* '' */
.icon-forward-outline:before { content: '\e81e'; } /* '' */
.icon-forward:before { content: '\e81f'; } /* '' */
.icon-chat-alt:before { content: '\e820'; } /* '' */
.icon-contacts:before { content: '\e821'; } /* '' */
.icon-ellipsis:before { content: '\f141'; } /* '' */
.icon-ellipsis-vert:before { content: '\f142'; } /* '' */
.icon-map-o:before { content: '\f278'; } /* '' */
