@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css);
/**/
@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  * {
      font-family: 'Cafe24Ssurround', sans-serif;
    }

/* 카카오톡 메인페이지(친구리스트, 채팅리스트, 설정화면) 스타일만 작성 */
/* 메인페이지 큰 레이아웃은 grid로 구성함 */

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  #content {
    display: grid;
    grid-template-columns: 0rem 1.25rem auto 1.25rem;
    grid-template-rows: 1.875rem 3.125rem auto 6.25rem;
    gap: 0;
    align-items: stretch;
    grid-template-areas:
      "nav  .  setting  . "
      "nav  .   header  . "
      "nav  .    main   . "
      "ad  ad     ad   ad ";
    background-color: #ffffff;
    border: 2px solid black;
    margin: auto; /* 가운데 정렬 */
  }


/* 헤더 스타일 지정 */
header{
    grid-area: header;
    position: sticky;
    top: 1.875rem; /* grid row의 첫번째 + gap 크기와 동일*/
}
header span{
    /* 검색, 친구 추가 기능 스타일 지정 */
    float: right;
    margin-left: 0.9375rem; /* 16 브라우저 기준 : 15px*/
    font-size: 1.375rem;
}
header > *{
    line-height: 3.125rem; /* grid row의 두번째 크기와 동일 */
    vertical-align: middle;
}
/* 제목 사이즈 재정의 */
h1{
    font-size: 1.375rem; /* 16px 브라우저 기준 22px*/
    font-weight: bold;
    display: inline;
    color: 	#000000;
}

/* 메인 스타일 지정 */
main{
    /* 친구 리스트를 flex box로 레이아웃 구성 */
    grid-area: main; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 0.125rem; /* 16 브라우저 기준 2px */
}
ul{
    list-style: none;
    padding-left: 0;
    color: rgb(0, 0, 0);
    border: 2px solid #52381b22;
    border-radius: 20px;
    /* unordered list 기본 스타일 제거(점, 들여쓰기) */
}
/* 제목(h2와 p) 사이즈 재정의 */
.profile-title > *{
    font-size: 0.75rem; /* 16px 브라우저 기준 12px 의미*/
    color: gray;
    display: inline-block;
    margin: 0;
}

#who-guide{
    font-size: 0.75rem; /* 16px 브라우저 기준 12px 의미*/
    display: inline;
}

#who-level-background-color{
    background-color: rgb(30, 30, 30);
    padding: 5px;
    border-radius: 10px;
}

li{
    /* 각각의 프로필을 flex box로 구성 */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 1.25rem; /* 16 브라우저 기준 20px */
    margin-top: 0.625rem; /* 16 브라우저 기준 10px */
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    width: 24.5rem;
    
}
li > img{
    /* 프로필사진 사이즈 조절 */
    width: 3.125rem;
    border-radius: 15%;
}

button{
    border: none;
    background-color: transparent;
    padding-bottom: -10%;
    display: grid;
}

.profile > *{
    /* 이름과 프로필 사진의 margin 조절 */
    margin: 0.3125rem; /* 5px (16px 브라우저 기준) */
    margin-left: 0.625rem;
}
.profile > *:first-of-type{
    /* 이름 스타일 변경 : 굵게 처리 */
    font-weight: bold;
    font-size: 0.875rem; /* 16 브라우저 기준 14px */
} 
.profile > *:nth-of-type(2){
    /* 상태메시지 스타일 변경*/
    color: gray;
    font-size: 0.75rem; /* 16 브라우저 기준 12px */
}
.profile-title{
    border-top: 1px solid rgb(202, 200, 200);
    padding-top: 0.625rem;
}

/* 하단 스타일 지정 */
aside{
    grid-area: ad;
    position: sticky;
    bottom: 0;
    height: 6.25rem; /* grid ad의 row 크기와 동일 */
    text-align: center;
}
aside > img{
    height: 6.25rem;
}

aside button {
    float: left;
    margin-right: 10px;
    flex: 1;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
}
aside button:last-child {
    float: right;
    margin-right: 0;
}

aside {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6F946E;
    border: none;
  }
  
